# ESP-IDF build
build/
sdkconfig.old
.cache/

# CLion
.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

# ESP-IDF managed components
managed_components/
dependencies.lock

# Logi
*.log
*.map

# System
.DS_Store
Thumbs.db
